*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*=============nav bar========*/
.nav{
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.7rem;
  box-shadow: 0 0 10px black;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  position: fixed;
  z-index: 20;
}
.me{
  font-size: 20px;
  color: cyan;
}
.h33{
  color: #66d9ef;
}
.logo{
  font-size: 1.6rem;
  font-weight: bold;
}
.logo span{
  color: cyan;
}
.navlinks{
  display: flex;
  margin: auto;
}
.navlinks li{
  list-style: none;
  margin-left: 1.5rem;
}
.navlinks li a{
  text-decoration: none;
  margin-left: auto;
  color: white;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.navlinks li a:hover{
  color: darkcyan;
  border-bottom: solid 2px cyan;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}
#menu-toggle{
  display: none;
}
.menu{
  display: none;
  flex-direction: column;
}
.menu span{
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px;
  border-radius: 10px;
  transition: all 0.4s;
}
/*=============skills page ============*/







@media (max-width: 768px){
   /*====nav bar and home ====*/
  .menu{
    display: flex;
    cursor: pointer;
  }
  .navlinks{
    position: absolute;
    right: -100%;
    transition: right 0.3s ease-in-out;
    flex-direction: column;
    top: 5rem;
    width: 50%;
    height:100vh;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
  }
  .navlinks li{
    margin: 10px;
  }
  #menu-toggle:checked ~ .navlinks{
    right: 0;
  }
  #menu-toggle:checked + .menu span:nth-child(1){
    transform: rotate(50deg) translateY(10px) translateX(10px);
  }
  #menu-toggle:checked + .menu span:nth-child(2){
    opacity: 0;
  }
  #menu-toggle:checked + .menu span:nth-child(3){
    transform: rotate(-50deg) translateX(5px) translateY(-6px);
  }
  .page-body{
  margin-top: 16rem;
}
  .page-body h1{
    font-size: 50px;
    margin-bottom: 50px;
  }
  .me{
    display: none;
  }
  .page-body p{
    font-size: 25px;
  }
   /*====About page====*/
  .card3{
    margin-left: 70%;
  }
 .about{
    justify-content: center;
    align-items: center;
    
  }
  .about-t{
    width: 350px;
    text-align: center;
    margin-bottom: 35px;
    padding-bottom: 35px;
  }
  .about-t h2{
    margin-bottom: 15px;
    border-bottom: solid 2px #353838;
  }
  .div-img{
    margin: 0;
  } 
  
}
@media (max-width: 435px){
  /*====nav bar and home ====*/
    .navlinks{
        width: 100%;
        right: -100%;
    transition: right 0.3s ease-in-out;
    }
  .page-body{
  margin-top: 10rem;
}
  .page-body h1{
    font-size: 30px;
    margin-bottom: 30px;
  }
   .page-body p{
    font-size: 20px;
   }
  /*====About page====*/
    #body-about{
      text-align: center;
    }
  .card3{
    display: none;
  }
  .card2{
    margin-left: 37%;
  }
    .about{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .about-t{
    width: 260px;
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 30px;
  }
  .about-t h2{
    margin-bottom: 10px;
    border-bottom: solid 2px #353838;
  }
  .div-img{
    margin: 0;
  } 
  .scard{
    position: relative
  }
  /*===============skills page ==========*/
  
}
@media (max-width: 375px){
   /*===============skills page ==========*/
  .s{
    margin: 30px;
  }
}